.bird-box
    position: relative
    height: 600px
    background: url(../img/bird-bg.jpg) top center fixed
    background-size: auto 600px
    overflow: hidden
    z-index: 3

.logo
    height: 100px
    width: 100%
    background: url(../img/black-bird-logo.svg) center no-repeat
    position: absolute
    top: 50%
    margin-top: -50px

.fore-bird
    width: 960px
    height: 733px
    background: url(../img/fore-bird.png) no-repeat right bottom
    position: absolute
    left: 50%
    margin-left: -480px
    top: 380px

.back-bird
    width: 960px
    height: 298px
    background: url(../img/back-bird.png) no-repeat top left
    position: absolute
    left: 50%
    margin-left: -480px
