extends ./templates/default

block stylesheet
    include modules/_stylesheet

block scripts
    include modules/_scripts
    
block fav
    include modules/_favicon

block content
    include components/_header
    include components/_sections
    include components/_footer
