<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block scripts
            include ../modules/_scripts
        block styles
            include ../modules/_styles
        block fav
            include ../modules/_favicon
        block title
            title Hello world
    body
        block content
