@import "../modules/all"
@import "mixins"

body
    background color_bg
    font-family Arial !important

.container
    width 970px
    margin 0 auto
    clearfix()

a
    color text_color_1
    transition all 0.3s ease
    &:hover
        color color_primary

#main
    img
        width 100%
