<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block stylesheet
        block scripts
        block fav
        block title
            title Hello world
    body
        block content
