
color_primary= #DC191B
color_second = #0F1618

search_bg= #fff


text_color= #333
text_color_1 = #fff
text_color_2 = #333

color_steam= #fff
color_fb= #3b5998
color_twitter= #4099ff
color_youtube= #cd201f
color_twitch= #6441a5
color_bg= #ededed
