extends ./templates/default

block content
    .container
        include modules/_mixins
        
        include components/_header
        include components/_sections
        include components/_work
        include components/_clients
        include components/_contact
        include components/_forms
        include components/_footer
