extends ./templates/default

block content
    .container
        include modules/_mixins
        
        include components/_header
        include components/_sections
        include components/_sidebar
        include components/_footer
