header
    #header-inner
        #toggle-nav
            span
        #nav-wrapper
            #logo.nav__center
                a(href="#")
                    img(src="img/logo.png", alt="logo")
            ul#nav.nav__center
                li#t-search
                    form#search
                        i.fa.fa-search
                        input(type="search" placeholder="Search").search-text
                li#t-home
                    a(href="#") Home
                li
                    a(href="#") Shots
                    ul.tabs
                        li
                            a(href="#") Popular
                        li
                            a(href="#") Recent
                        li
                            a(href="#") Teams
                        li
                            a(href="#") Debuts
                        li
                            a(href="#") Playoffs
                        li
                            a(href="#") Animated GIFs
                li
                    a(href="#") Designers
                    ul.tabs
                        li
                            a(href="#") All
                        li
                            a(href="#") For Hire
                        li.separate
                            a(href="#") Top Skills & Locations
                        li
                            a(href="#") Skills
                        li
                            a(href="#") Cities
                        li
                            a(href="#") Countries
                li
                    a(href="#") Teams
                    ul.tabs
                        li
                            a(href="#") All
                        li
                            a(href="#") Hiring Designers
                        li
                            a(href="#") Designers Teams for Hire
                        li.separate
                            a(href="#") Add Your Designer Team
                li
                    a(href="#") Stories
                    ul.tabs
                        li
                            a(href="#") Lastest Stories
                        li.separate
                            a(href="#") Timeout: Nikhil Vootkur
                        li
                            a(href="#") Shot Block: Noodles
                        li
                            a(href="#") Timeout: Dave Chenell
                        li
                            a(href="#") Weekly Replay: Jun 20
                        li
                            a(href="#") Shot Block: ARTCRANK
                        li.separate
                            a(href="#") Subscribe
                li
                    a(href="#") Meetups
                    ul.tabs
                        li
                            a(href="#") Meetups
                        li.separate
                            a(href="#") Host a Meetup
                li#t-shop
                    a(href="#") Shop
                    ul.tabs
                        li
                            a(href="#") Goods by Designers
                        li
                            a(href="#") Deals for Designers
                        li.separate
                            a(href="#") Deals for Designers
                li.more
                    a(href="http://google.com").more-item Jobs
                    ul.tabs
                        li
                            a(href="#") All
                        li
                            a(href="#") Remote / Anywhere
                        li
                            a(href="#") @ Teams 
                        li.separate
                            a(href="#") Post a Job
                li#t-more.more
                    a(href="http://google.com").bull &bull; &bull; &bull;
                    a(href="#").more-item More
                    ul.tabs
                        li
                            a(href="#") Highlights
                        li
                            a(href="#") Projects
                        li
                            a(href="#") Buckets
                        li
                            a(href="#") Colors
                        li
                            a(href="#") Tags
                        li.separate
                            a(href="#") About
                        li
                            a(href="#") Blog
                        li
                            a(href="#") Podcast
                        li.separate
                            a(href="#") Twitter
                        li
                            a(href="#") Facebook
                        li
                            a(href="#") Integrations
                        li.separate
                            a(href="#") Support
                li#t-w
                li#t-profile.more
                    a(href="#").avatar
                        img(src="img/avatar.jpg", alt="avatar")
                        span.name lynkxyz
                    ul.tabs
                        li
                            a(href="#") lynkxyz
                        li.gopro.separate
                            a(href="#") Go Pro
                        li.separate
                            a(href="#") Account Settings
                        li
                            a(href="#") Sign Out
            
