footer
    .row.footer-stuff
        .columns.three
            strong FIND US ON
            ul
                li
                    a(href="") Twitter
                li
                    a(href="") Facebook
                li
                    a(href="") Pinterest
                li
                    a(href="") Instagram
        .columns.three
            strong OTHER SHOPS
            ul
                li
                    a(href="") Red Robin
                li
                    a(href="") Emerald Eagle
                li
                    a(href="") Crimson Crane
                li
                    a(href="") Auburn Abbot
        .columns.six
            p <strong>Sign Up for the newsletter </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            
            form.row
                .columns.eight
                    input.u-full-width(type="email" placeholder="Your Email")
                .columns.four
                    input.button-primary(type="submit")
