html
    font-family OpenSans-Light

a
    text-decoration: none

.container
    overflow: hidden

.zoom-icon
    svg
        height: 30px
        width: 30px
        path
            fill: white

svg
    height: 100%
    width: 100%
