section.alt-section.section-contact
    h3#contact Contact
    .social-links
        a(href="").icon-twitter
        a(href="").icon-facebook
        a(href="").icon-steam
        a(href="").icon-pinterest
        a(href="").icon-vine
        
    hr.bar
    
    a.biglink(href="mailto:lynkxyz@gmail.com") lynkxyz@gmail.com
