section
    h3 About Myself
    .face-lockup
        .face-img
        
        .icon-pencil
            include icons/icon-pencil.html
        .icon-mouse
            include icons/icon-mouse.html
        .icon-browser
            include icons/icon-browser.html
        .icon-video
            include icons/icon-video.html
    .blurb
        p  <strong>In pellentesque faucibus vestibulum.</strong> Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu.

    
    .skill-lockup
        +skill-unit('Communication').skill-9
        +skill-unit('Organization').skill-7
        +skill-unit('Learning').skill-10
        +skill-unit('Teaching').skill-8
        +skill-unit('Planning').skill-7
        +skill-unit('Visual Design').skill-4
        +skill-unit('UX Design').skill-8
        +skill-unit('Programming').skill-2
