.tooltipster-sidetip
    &.tooltipster-noir
        &.tooltipster-noir-customized
            .tooltipster-box
                background #333 repeat-x top left
                max-width: 196px
                word-wrap: break-word
                text-align: center
                border: none
                border-radius: 4px
            .tooltipster-arrow
                .tooltipster-arrow-uncropped
                    .tooltipster-arrow-border
                    .tooltipster-arrow-background
                        border-top-color: #333
                        border-bottom-color: #333
                border-top: #333 repeat-x top left
            .tooltipster-content
                padding: 10px 12px
                color: rgba(255,255,255,0.9)
                font-size: 12px
        &.tooltipster-noir-customized1
            .tooltipster-box
                background #ea4c89 repeat-x top left
                max-width: 196px
                word-wrap: break-word
                text-align: center
                border: none
                border-radius: 4px
            .tooltipster-arrow
                .tooltipster-arrow-uncropped
                    .tooltipster-arrow-border
                    .tooltipster-arrow-background
                        border-top-color: #ea4c89
                border-top: #ea4c89 repeat-x top left
            .tooltipster-content
                padding: 10px 12px
                color: rgba(255,255,255,0.9)
                font-size: 12px
