mixin skill-unit(label)
    .skill-unit
        .skill-label #{label}
        .skill-icons&attributes(attributes) 
            span
            span
            span
            span
            span
            span
            span
            span
            span
            span
