doctype html
html(lang='vi')
    head
        meta(charset='UTF-8')
        block title
        script(src="https://use.fontawesome.com/5917a77811.js")
        link(href='css/main.css' rel='stylesheet' type='text/css')
        link(href='css/reset.css' rel='stylesheet' type='text/css')
    body
        block content
